*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-size: auto;
    
}

.bg{
    background-image: linear-gradient(#222222, #341d5c);

}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #222222;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: none;

}

.NavBarLogo{
    height: 100%;
    display: table;
    float: left;
    background-image: none;


}

.NavBarLogo h1{
    color: white;
    background-image: none;

    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation{
    float: right;
    height: 100%;
    background-image: none;


}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-image: none;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    background-image: none;
}

.contentspace {
    background-color: #232323;
    width: 1000px; height: 800px;

    margin-left: auto;
    margin-right: auto;
}
.contentspace h1{
    color: white;
    
}

.Message{
    color: white;
    font-size: 20px;
}
video{
    width: 500px; height: 400px;
    padding: 200px;
}
