*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-size: auto;
    
}
.bg{
    background-image: linear-gradient(#222222, #341d5c);
    height: 1000%;

}
footer{ /*Makes it so that the footer is at the bottom left of  the page*/
    vertical-align: bottom;
    color: white;
    margin-bottom: 2px;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #222222;
}
.inner_header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: none;

}

.NavBarLogo{
    height: 100%;
    display: table;
    float: left;
    background-image: none;


}

.NavBarLogo h1{
    color: white;
    background-image: none;

    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.navigation{
    float: right;
    height: 100%;
    background-image: none;


}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-image: none;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    background-image: none;
}

.projectslist p{
    font-size: 20px;
    color: white;
    margin-top: 9%;
}

.contentspace {
    background-color: #232323;
    width: 75%; height: 100%;
    background-image: none;

    margin-left: auto;
    margin-right: auto;
}

img{
    margin: 1px;
}

.contentspace h1{
    color: white;
}
.img {
    width: 50%; height: 50%;
    background-image: none;
    
}

.Message{
    color: white;
    font-size: 20px;
}
.Message img{
    width: 20%; height: 20%;
    border-radius: 8px;
    border: 2px solid white;
    }
    video{
        width: 50%; height: 40%;
        margin-left: 25%;
        margin-top: 3%;
    }    

input[type=text], select, textarea{
width: 100%;
border: 12px;
border-radius: 4px;
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px;
resize: vertical

}


label{
    color: white;
}
